{% extends "base.html" %}
{% block title %}Edit profile{% endblock %}
{% block body %}
<div class="span4">
	<form method="post" enctype="multipart/form-data" id="edit_form">{% csrf_token %}
        <label for="id_phone" class="control-label"><h5>Phone</h5></label>
        <input class="span4 enabling" id="id_phone" name="phone" placeholder="Phone Number" type="text" value="{{ profile.phone }}" required>
    	<label for="id_website" class="control-label"><h5>Website</h5></label>
    	<input class="span4 enabling" id="id_website" name="website" placeholder="Enter your website" type="text" value="{{ profile.website }}"required>
    	<label for="id_propic" class="control-label"><h5>Change Profile Picture</h5></label>
    	<img src="/static/{{ profile.profile_picture }}" class="enabling" style="width:100px;height:'100px"/>
    	<input id="id_propic" name="propic" type="file">
    	<input type="button" class="btn btn-primary span4 reg_button disabled save" value="save">
	</form>
</div>
<div class="span4">

</div>
</form>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$('.enabling').bind('input', function() { $('.save'). removeClass('disabled');$('.save'). addClass('clickable') } );
		$('.enabling').bind('input', function(){
			$('.save'). removeClass('disabled');
			$('.save'). addClass('clickable');
			$(".clickable").click(function(){
				$('#edit_form').submit();
			}); 
		});
	</script>
{% endblock %}